@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Oswald&display=swap');

$special-font: 'Nunito Sans', sans-serif;

$black: #000;
$black-2: #2d2d2d;
$black-3: #08030D;
$white: #fff;

$color-1: #EC7D1B;
$color-2: #1D0D2C;
$color-3: #FFA24F;
$color-4: #ffbe84;
$color-5: #FAF5FF;
$color-6: #4d2e69;
$color-7: #F94D1C;
$color-8: #808080;


$color-9: #FFCFFF;
$color-10: #FFDFFF;
$color-11: #f9f9f9;

// social
$fb: #1976D2;
$tw: #03A9F4;
$ggl: #DD4B39;
$ld: #007AB9;
$yt: #F44336;
$pin: #D01D1D;